[Unit]
Description=Zenith Energy daemon
After=network.target
Conflicts=power-profiles-daemon.service tlp.service
Before=power-profiles-daemon.service tlp.service

[Service]
Type=simple
ExecStart=/usr/bin/zenith-energy --daemon
Restart=always
# Run as root to allow hardware sysfs writes
User=root

[Install]
WantedBy=multi-user.target
